
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

main{
    overflow: auto;
    font-size: 17px;
    padding: 20px;
    padding-top: 10px;
    font-family: "Montserrat:ital",sans-serif;
   
}

.myDiv{
    flex: 1;
    border: 1px solid black;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    
}

.inLine{
    flex: 1;
    display: flex;
    gap: 15px;
}

.myDiv .p1{
    flex: 1;
}

.myDiv .p2{
    flex: 3;
}

.text{
    padding: 15px;
}