@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 15px;
    font-family: "Montserrat:ital",sans-serif;
}

main{
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-logo {
    width: 40px;
    height: auto;
    border: 1px solid #fff;
}

.header-title {
    width: 100%;
    background-color: #00396a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

nav {
    background-color: #00396a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: block;
    flex: 1;
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid #fff;
}


.nav-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.nav-item a:active, a:focus, a:hover {
    color: inherit;
}


.active {
    background-color: white;
    font-weight: bold;
    color: #00396a;
}

.nav-link {
    color: white;
}

footer {
    background-color: #00396a;
    color: white;
    width: 100%;
}

.footer-content {
    position: relative;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
    padding-left: 10px;
    bottom: 0px;
}

.logo {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo-link:hover .logo {
    transform: scale(1.1);
}
